    ;; !  | means mandatory -   modifier(s) alone when pressend change behavior
    ;; #  | means optional  -   modifiers are optional (but atleast one necessary)

    ;; :!Ca is keycode :a and prefix a with !C

    ;; C  | left_command
    ;; T  | left_control
    ;; O  | left_option
    ;; S  | left_shift
    ;; F  | fn
    ;; Q  | right_command
    ;; W  | right_control
    ;; E  | right_option
    ;; R  | right_shift

    ;; ## | optional any (this has no effect when used on the RHS; only LHS)
    ;; !! | command + control + optional + shift (hyper)

    ;; to understand better how modifiers work in karabiner
    ;; karabiner definition of mandatory and optional
    ;; https://karabiner-elements.pqrs.org/docs/json/complex-modifications-manipulator-definition/from/modifiers/


    ;; need to prefix C T O S F with ! or #
    ;;
    ;; code for all this:
    ;; https://github.com/yqrashawn/GokuRakuJoudo/blob/b9b334a187379f9bc8182ad59e2cca2a1789e9c0/src/karabiner_configurator/keys.clj#L68
{:profiles {:goku {:default true,
                   :alone 3000,
                   :held 0,
                   :delay 0,
                   :sim 30}},
 :templates {:app "osascript -e 'tell application \"%s\" to activate'",
             :open "open \"%s\""},
 :simlayers {
             :w-mode {:key :w},
             :option-mode {:key :left_option},
             :spacebar-mode {:key :spacebar},
             },
 :main [

        ;; Launch apps
        {:des "App launchers",
         :rules [:option-mode
                 [:1 [:app "Alacritty"]]
                 [:2 [:app "Brave"]]
                 [:3 [:app "Telegram"]]
                 [:4 [:app "Mailspring"]]
                 [:5 [:app "evernote.app"]]
                 [:6 [:app "Spotify"]]
                 [:7 [:app "OpenVPN"]]
                 [:8 [:app "Toptracker"]]

                 [:e [:app "Finder"]]
                 [:return_or_enter [:app "Alacritty"]]

                 [:!Sh :!TOleft_arrow] ; Snap left
                 [:l :!TOright_arrow] ; Snap right
                 [:f :!TOreturn_or_enter] ; Maximize window

                 [:j :!TOdown_arrow] ; Snap down
                 [:k :!TOup_arrow] ; Snap up


                 ; [:k :!CSgrave_accent_and_tilde] ; Switch between active windows (go up)
                 ; [:l :!CSOd]
                 ;; Spectacle shortcuts

                 ]}]}
