.config/nvim/plugged
.config/nvim/session*
.config/nvim/undo

.directory

.config/konsolerc

.netrwhist

# Python 
.ropeproject

# XFCE pointers config
pointers.xml

# Ctags
tags

# Various cache
*_cache
*.zsh.zwc
Session.vim
