[submodule "src/zsh/.zsh/antigen"]
	path = src/zsh/.zsh/antigen
	url = https://github.com/zsh-users/antigen.git
[submodule "src/tmux/.tmux/plugins/tpm"]
	path = src/tmux/.tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "src/emacs/.emacs.d"]
	path = src/emacs/.emacs.d
	url = https://github.com/hlissner/doom-emacs
