! TODO dynamic setting of DPI.
! Xft.dpi: 192
Xft.dpi: 96

! Fonts {{{
Xft.lcdfilter: lcddefault
Xft.hinting: 1
Xft.hintstyle: hintslight
Xft.autohint: 0
Xft.rgba: rgb
Xft.antialias: 1
! }}}
! URxvt {{{
URxvt.scrollBar:              false
URxvt.font:                   xft:Hack-Regular:pixelsize=14,xft:Symbola
URxvt.boldFont:               xft:Hack-Bold:pixelsize=14:weight=bold,xft:Symbola
URxvt.italicFont:             xft:Hack-RegularOblique:pixelsize=14:slant=italic,xft:Symbola

URxvt.internalBorder:		  15
URxvt.perl-ext-common:        default,matcher,resize-font,url-select,keyboard-select
URxvt.url-select-launcher:    firefox
URxvt.url-select-underline:   true
URxvt.colorUL:                #80d3f9

URxvt*transparent:			true
URxvt*shading:				25
! }}}
! Scheme {{{
! Shapeshifter dark: http://terminal.sexy
! special
*.foreground:   #ababab
*.background:   #000000
*.cursorColor:  #ababab

! black
*.color0:       #000000
*.color8:       #343434

! red
*.color1:       #e92f2f
*.color9:       #e92f2f

! green
*.color2:       #0ed839
*.color10:      #0ed839

! yellow
*.color3:       #dddd13
*.color11:      #dddd13

! blue
*.color4:       #3b48e3
*.color12:      #3b48e3

! magenta
*.color5:       #f996e2
*.color13:      #f996e2

! cyan
*.color6:       #23edda
*.color14:      #23edda

! white
*.color7:       #ababab
*.color15:      #f9f9f9
! }}}


! vim:foldmethod=marker:foldlevel=0
