# Code style libs.
black
vim-vint
python-language-server[all]
jedi
flake8
radon # dependency for flake8 that should be updated
bandit
mypy
pyflakes
pydocstyle
yamllint

# Interactive shell
ipython

# Env management
pipenv

neovim-remote
botostubs
