; https://github.com/nikitavoloboev/dotfiles/blob/master/karabiner/karabiner.edn
; https://github.com/rgomezcasas/dotfiles/blob/main/os/mac/karabiner-goku/karabiner.edn

{:profiles
 {:goku {:default true
         :alone   20
         :delay   200
         :held    100
         :sim     100
         }}
 :templates {:alfred "osascript -e 'tell application id \"com.runningwithcrayons.Alfred\" to run trigger \"%s\" in workflow \"%s\" with argument \"%s\"'"
             :km "osascript -e 'tell application \"Keyboard Maestro Engine\" to do script \"%s\"'"
             :open "open \"%s\""
             :openapp "open \"/Applications/%s\""
             }
 :simlayers {
             :tab-mode {:key :tab}
             :dot-mode {:key :period}
             }
 :main [
        {:des "tabkey"
         :rules [:tab-mode
                 [:f ["open ~"]]
                 ; [:t [:openapp "iTerm.app"]]
                 ; [:b [:openapp "Firefox.app"]]
                 [:b [:openapp "Safari.app"]]
                 [:t [:openapp "Telegram.app"]]
                 ; [:m [:openapp "Mailspring.app"]]
                 [:n [:openapp "Bear.app"]]
                 [:i [:openapp "Insomnia.app"]]
                 [:l [:openapp "Lens.app"]]
                 [:v [:openapp "Visual Studio Code.app"]]

                 [:m ["open /System/Applications/Mail.app"]]
                 [:r ["open /System/Applications/Reminders.app"]]
                 [:c ["open /System/Applications/Calendar.app"]]
                 ]}
        ]}

