; https://github.com/nikitavoloboev/dotfiles/blob/master/karabiner/karabiner.edn

{:profiles
 {:goku {:default true
         :alone   80 ; hold for .. ms to register single tap
         :held    50 ; TODO: not sure what it's for
         :delay   0 ; time after which the key press is delayed
         :sim     30}} ; keys need to be pressed within this threshold to be considered simultaneous
 :templates {:alfred "osascript -e 'tell application id \"com.runningwithcrayons.Alfred\" to run trigger \"%s\" in workflow \"%s\" with argument \"%s\"'"
             :km "osascript -e 'tell application \"Keyboard Maestro Engine\" to do script \"%s\"'"
             :open "open \"%s\""
             :openapp "open \"/Applications/%s\""
             }
 :simlayers {
             :tab-mode {:key :tab}
             :dot-mode {:key :period}
             }
 :main [
        {:des "tabkey"
         :rules [:tab-mode
                 [:f ["open ~"]]
                 [:c [:openapp "iTerm.app"]]
                 [:b [:openapp "Firefox.app"]]
                 [:t [:openapp "Telegram.app"]]
                 [:m [:openapp "Mailspring.app"]]
                 ]}
        ]}

